@import 'rest';

* {
    border: 1px solid black;
}

// html,
// body {
//     width: 100%;
//     height: 100%;
// }
$main-color: #61422b;
$font-color: #e5d7e1;

.header {
    background-color: $main-color;
    color: $font-color;
    position: fixed;
    height: 80px;
    width: 100%;

    ul {
        list-style: none;
        display: flex;
    }

    .wraper {
        display: flex;
        width: 80%;
        background-color: rgb(185, 74, 74);
        margin: 0 auto;
    }

}

.content {
    section {
        height: 100vh;
        background-color: rgb(125, 58, 58);
    }
}

.footer {
    background-color: rgb(22, 202, 22);
    display: flex;
    justify-content: center;

    .social {
        img {
            width: 20px;
        }
    }
}