@import 'reset';

// * {
//     border: 1px solid black;
// }

html,
body {
    width: 100%;
    height: 1000vh;
    font-weight: bolder;
    font-family: 'Noto Sans TC', sans-serif;
}


$main-color: #4E9AE4;
$font-color: #FFFFFF;

// 導覽列
.header {
    width: 100%;
    height: 80px;
    position: fixed;
    background-color: $main-color;
    color: $font-color;
    .header-content{
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        
    }
    .menu{
        display: flex;
        font-weight: bold;
        font-size: 20px;
        li{
            text-align: center;
            margin-right: 10px;
            &:last-child{
                margin-right: 0;
            }
            &:hover{
                color: #e48912;
            }
        }
    }
}

// 首頁
.index{
    .index-content{
        display: flex;
        align-items: center;
        min-height: 100vh;
        .content-wrap{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
}

// 頁尾
.footer {
    background: rgb(78, 154, 228);
    background: linear-gradient(135deg, rgba(78, 154, 228, 1) 10%, rgba(255, 255, 255, 1) 10%);
    display: flex;
    justify-content: space-around;

    .social {
        img {
            width: 40px;
        }
    }
}