@import 'reset';
// 載入畫面
.pageloading{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
    background-color: $color_blue;
    position: fixed;
    transition: opacity 0.5s 0.5s;
    z-index: 3;
    h1{
        color: $color_white;
        margin-bottom: 20px;
    }
    
    .loading{
        width: 60%;
        height: 5%;
        background-color:$color_blue;
        border-radius: 20px;
        overflow: hidden;
        .bar{
            width: 0%;
            height: 100%;
            background-color: $color_white;
        }
    }
}
.complete{
    opacity: 0;
    position: absolute;
    z-index: -1;
    transition: 0.5s;
}
// 導覽列
.header {
    width: 100%;
    height: 80px;
    position: fixed;
    z-index: 2;
    .header-content{
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: $color_white;
        color: $color_blue;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .menu{
        ul{
            display: flex;
            font-weight: bold;
            font-size: 20px;
        }
        
        li{
            text-align: center;
            margin-right: 10px;
            &:last-child{
                margin-right: 0;
            }
        }
    }
    a{
        
        transition: 0.5s;
        &:hover{
            color: $color_dark_blue;
        }
    }
}
// 首頁
.index{
    @include padding;
    background-image: url(../img/backgroundimg.jpg);
    background-size: cover;

    .index-content{
        display: flex;
        justify-content: space-around;
        align-items: center;
        min-height: 100vh;
        .index-text{
            display: flex;
            flex-direction: column;
            justify-content: center;
            >div{
                width: 50%;
            }
        }
        .content-wrap{
            display: flex;
            width: 100%;
            background-color: rgba(80, 88, 155, 0.651);
            border-radius: 20px;
            justify-content: space-between;
            // >div{
            //     width: 50%;
            //     padding: 20px;
            // }
        }
    }
    .index-img{
        img{
            width: 80%;
        }
    }
    
    .index-text{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: justify;
        color: $color_white;
        .btns{
            text-align: center;
        }
        a{  
            cursor: pointer;
            transition: 0.5s;
            margin-left: 0;
            background-color: $color_blue;
            color:$color_white;
            margin-right: 40px;
            &:last-child{
                margin-right: 0;
            }
            &:hover{
                transform: scale(1.2);
                background-color: $color_dark_blue;
                color: $color_white;
            }
        }
    }
    
}
// 關於
.about{
    @include padding;
    // background-image: url(../img/backgroundimg02.jpg);
    // background-size: cover;
    // background-color: $color_gray;
    .about-content{
        .content-wrap{
            display: flex;
            align-items: center;
            // width: 100%;
            >div{
                width: 50%;
            }
        }
    }
    .about-img{
        padding: 20px;
        img{
            width: 100%;
        }
        >div{
            border-radius: 50%;
            background-size: contain;
            width: 50%;
            margin: 0 auto;
        }
    }
    ul{
        display: flex;
        // flex-wrap: wrap;
        // align-items: center;
        padding-left: 0;
        li{
            margin-right: 16px;
            margin-bottom: 16px;
            img{
                width: 50%;
            }
            &:last-child{
                margin-right: 0;
            }
        }
    }
}
// 作品
.profoilos{
    @include padding;
    // background-color: $color_gray;
    .card{
        border: 1px solid black;
        // border-radius: 20px;
        background-color: inherit;
        margin: 40px auto;
        overflow: hidden;
        cursor: pointer;
    }
    .card-img{
        overflow: hidden;
    }
    .card-body{
        background-color: $color_white;
        &:hover{
            color: $color_blue;
        }
    }
    img{
        height: 300px;
        vertical-align: middle;
        border-style: none;
    }
}
// 聯絡
.contact{
    @include padding;
    // background-color: $color_gray;
    .form-container{
        width: 80%;
        margin: 0 auto;
        padding: 20px;
        
        border-radius: 20px;
    }
    // hr{
    //     max-width: 80%;
    //     margin: 8px auto;
    // }
    .form-group{
        position: relative;
        margin-bottom: 32px;
        &:last-child{
            margin-bottom: 0;
        }
        &:focus{
            color: yellow;
        }
        .label-control{
            position: absolute;
            top: 5px;
            left: 5px;
            color: rgb(66, 61, 61);
            pointer-events: none;
        }
        .form-control-input{
            border-radius: 5px;
            width: 100%;
            padding: 5px;
        }
        .form-control-textarea{
            width: 100%;
            height: 200px;
            resize: none;
        }
        .btn{
            background-color: $color_blue;
            color: $color_white;
            transition: 0.5s;
            &:hover{
                transform: scale(1.5);
                background-color: $color_dark_blue;
            }
        }
    }
    
}
// 頁尾
.footer{
    background-color: $color_white;
    padding: 30px;
    .footer-content{
        display: flex;
        justify-content: space-between;
    }
    ul{
        li{
            margin-bottom: 20px;
            &:last-child{
                margin-bottom: 0;
            }
        }
    }
}
@import "_rwd.scss";