@import 'reset';

// * {
//     border: 1px solid black;
// }

html,
body {
    width: 100%;
    height: 1000vh;
    font-weight: bolder;
    font-family: 'Noto Sans TC', sans-serif;
}


$main-color: #2e92f7;
$font-color: #ffffff;

// 導覽列
.header {
    width: 100%;
    height: 80px;
    position: fixed;
    background-color: $main-color;
    color: $font-color;
    .header-content{
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        
    }
    .menu{
        display: flex;
        font-weight: bold;
        font-size: 20px;
        li{
            text-align: center;
            margin-right: 10px;
            &:last-child{
                margin-right: 0;
            }
            &:hover{
                color: #e48912;
            }
        }
    }
}

// 首頁
.index{
    min-height: 100vh;
    // background-color: green;
    .index-content{
        display: flex;
        justify-content: space-around;
        align-items: center;
        min-height: 100vh;
        .content-wrap{
            border: 1px solid black;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
    .index-img{
        background-color: #b34545;
        >div{
            text-align: right;
        }
        img{
            width: 80%;
        }
    }
    .index-text{
        // background-color: #2e92f7;
        // width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .index-text-wrap{
            margin-bottom: 20px;
        }
    }
    a{  
        display: block;
        width: 200px;
        height: 50px;
        cursor: pointer;
        padding: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
        background-color: $main-color;
        color: $font-color;
        &:hover{
            transform: scale(1.5);
        }
    }
}

// 頁尾
.footer {
    background: rgb(78, 154, 228);
    background: linear-gradient(135deg, rgba(78, 154, 228, 1) 10%, rgba(255, 255, 255, 1) 10%);
    display: flex;
    justify-content: space-around;

    .social {
        img {
            width: 40px;
        }
    }
}