*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
$color_blue: #2e92f7;
$color_white: #ffefef;
$color_gray:rgba(245, 227, 227, 0.938);
$color_dark_gray: rgba(97, 96, 96, 0.938);;
$color_dark_blue: #212c36;

@mixin padding{
    padding-top: 5.25rem;
    padding-bottom: 5.25rem;
}
html,body{
    scroll-behavior: smooth;
    background-color: $color_gray;
    width: 100%;
    font-weight: bolder;
    font-family: 'Noto Sans TC', sans-serif;
}
.container{
    width: 80%;
    height: 100%;
    margin: 0px auto;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.tittle{
    font-size: 64px;
    position: relative;
    margin-bottom: 80px;
    &::after {
        content: "";
        position: absolute;
        bottom: -10px;
        left: calc(50% - 140px);
        width: 0;
        height: 3px;
        border-left: solid 100px $color_dark_blue;
        border-right: solid 180px $color_blue;
    }
}