*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
$color_blue: #2e92f7;
$color_white: #ffefef;
$color_gray:rgba(196, 177, 177, 0.938);

@mixin padding{
    padding-top: 7.75rem;
    padding-bottom: 5.25rem;
}
html,body{
    scroll-behavior: smooth;
    background-color: $color_white;
}
.container{
    width: 80%;
    height: 100%;
    margin: 0px auto;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
